<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<confiSections>
		<section name="specflow" type= "TechTalk.specflow.configuration.configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</confiSections>
	<specflow>
		<unittetprovider name= "Nunit" />
	</specflow>
	</configuration>
